@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
   font-family: 'Montserrat', sans-serif;
}

.slider{
    background: rgba(241, 241, 241, 0.7);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100%;
}
