@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Raleway');

* {
    font-family: 'Baloo Bhaijaan', cursive;
    font-family: 'Raleway', sans-serif;
}



.slider {
    background: white;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    height: 100%;
}

.hiddennav {
    display: none;
}

.hidden {
    display: none;
}

.color {
    background: rgb(13, 148, 18);
    color: white;
}

.title {
    font-size: 45px;
    color: white;

}

.fondo {
    background: white;
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100%;
    color: rgb(13, 148, 18);
}

#map {
    height: 25em;
    width: 100%
}

h1 {
    text-align: center;
}

.check {
    cursor: pointer;
    width: 5rem;
    border: solid 2px rgb(13, 148, 18);
    ;
    background: white;
    color: black;
}

.check:focus {
    background: rgb(13, 148, 18);
    color: white;
    border: solid 2px rgb(13, 148, 18);
    ;

}

.Nserie {
    margin-top: 5px;
    width: 75%;
    background: white;
    border: solid 2px rgb(13, 148, 18);

}

.Nserie:focus {
    background:  rgba(13, 148, 18, 0.226);
    border: solid 2px black;
}

.img{
    cursor: pointer;
    width: 90%;
    height: 150px;
}

.ancho{
    width: 75%;

}
.filter{
    width: 100%;
}
@media(max-width:574px) {
    .hidden2 {
        display: block;
    }

    .center {
        text-align: center;
    }

    .hiddennav {
        display: block;
    }

    .hiddennav2 {
        display: none;
    }

    .text span {
        display: none;
    }

    .Nserie {
        width: 90%;

    }
}

@media(max-width:767px) {

    .colum {

        background: white;
        height: 230px;
    }

}